**All information has been modified for security purposes and to protect data integrity

AZURE_OPENAI_ENDPOINT=https://xxx.com/api/projects/successor-onboarding-bot
AZURE_OPENAI_KEY=EsKqr2H32rc3cq3caehykM19xwefwefwcwed4Oka00BaNzdjwQUkA93FfGZeAqJQgaegerasgverMk5XJ3w3AAAAACOGgWYq
AZURE_SEARCH_INDEX=your_index_name_here
